@use '../abstract/variaveis';
@use '../abstract/mixins';

#contatos{
    @include mixins.margem-central(80%);
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    .contatos-img{
        max-width: 50%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .contatos-form{
        max-width: 50%;
    }
}