@use '../abstract/variaveis';
@use '../abstract/mixins';

header {
    background: variaveis.$gradiente-primario;
    padding: 2rem;
    nav {
      display: flex;
      }
    }
  
    #home {
      max-width: 1040px;
      @include mixins.margem-central(80%);
      display: flex;
      align-items: center;
      justify-content: space-between;
  
      .textos-home {
        max-width: 464px;
  
        h1 {
          font-size: 42px;
          @include mixins.ff-fs-cl(variaveis.$cor-primaria, 41px, variaveis.$ft-titulos);
          margin-bottom: 2rem;
  
          span {
            color: variaveis.$cor-secundaria;
          }
        }
      }
  
      .btn-main {
        width: 280px;
        height: 66px;
        color: #fff;
        border: none;
        outline: none;
        border-radius: 66px;
        background: variaveis.$cor-secundaria;
        font-size: 1.3rem;
      }
  
      .img-home {
        max-width: 474px;
        img {
          width: 100%;
        }
      }    
    }
  }